body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-div
{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.math-div
{
    width: 50%;
    text-align: left;
    margin-top: 10px;
}

.num-table
{
    border-collapse: collapse;
    width: 100%;
}
